{% extends 'layouts/base.html' %}

{% block title %} View Checklist {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Ruangan: {{ room.room_name }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                {% if request|is_mobile %}
                                <a class="btn btn-sm bg-gradient-dark mb-0 rounded-circle px-2 py-2" href="{% url 'checklist-index' %}">&nbsp;<i class="fas fa-reply text-md"></i>&nbsp;</a>
                                {% else %}
                                <a href="{% url 'checklist-index' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Kembali</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="taskTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Tugas</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Durasi</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dikerjakan Oleh</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr class="cursor-pointer" data-href="{% url 'checklist-detail' room.room_id item.task_id %}">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.task.task_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {% if item.checklist_status == 'Selesai' %}
                                        <span class="badge rounded-pill badge-notification bg-gradient-primary text-white">{{ item.checklist_status }}</span>
                                        {% elif item.checklist_status == 'Belum Dikerjakan' %}
                                        <span class="badge rounded-pill badge-notification bg-gradient-dark text-white">{{ item.checklist_status }}</span>
                                        {% else %}
                                        <span class="badge rounded-pill badge-notification bg-warning text-dark">{{ item.checklist_status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{% if item.checklist_duration %}{{ item.checklist_duration }} menit{% endif %}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{% if item.checklist_by %}{{ item.checklist_by }}{% endif %}</h6>
                                    </td>
                                    <td>
                                        <!-- <button class="btn-icon-only text-dark bg-transparent border-0"><i class="fas fa-times-circle"></i></button> -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready( function () {
        $('#taskTable').DataTable({
            'pageLength': 10,
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
            'language': {
                'search': 'Cari: ',
                'info': 'Menampilkan _START_ sampai _END_ dari _TOTAL_ data',
                'lengthMenu': 'Tampilkan _MENU_ data',
                'infoEmpty': '',
                'zeroRecords': 'Tidak ada data',
                'paginate': {
                    'next': 'Selanjutnya',
                    'previous': 'Sebelumnya'
                }
            }
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }

        let btn2 = document.getElementsByClassName('paginate_button next', 'paginate_button previous');
        for (const button of btn2) {
            button.hover(function() {
                $(this).css('background-color', 'transparent');
            });
        }
    } );

    $(document).on('click', 'tbody tr', function() {
        var href = $(this).data('href');
        
        if(href) { // Check if href data exists
            window.location = href;
        } else {
            console.log("No data in href");
        }
    });

    let btn_menu = document.getElementById('dropdownTable');
    let dropdown_menu = document.getElementsByClassName('dropdown-menu');
    
    // open dropdown menu
    btn_menu.addEventListener('click', function() {
        dropdown_menu[0].classList.toggle('show');
    });
</script>
{% endblock javascripts %}
