{% extends 'layouts/base.html' %}

{% block title %} View Checklist {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'checklist-detail' room.room_id data.task_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8 d-flex align-items-center">
                                <h4 class="mb-2">Ruangan: {{ room.room_name }}</h4>
                            </div>
                            <div class="col-4 text-end">
                                {% if request|is_mobile %}
                                <a class="btn btn-sm bg-gradient-dark mb-0 rounded-circle px-2 py-2" href="{% url 'checklist-view' room.room_id %}">&nbsp;<i class="fas fa-reply text-md"></i>&nbsp;</a>
                                {% else %}
                                <a href="{% url 'checklist-view' room.room_id %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Kembali</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        <h6 class="heading-small text-muted">Tugas: <span class="text-dark">{{ data.task.task_name }}</span></h6>
                                        {% if data.checklist_status == 'Selesai' %}
                                        <span class="badge rounded-pill badge-notification bg-gradient-primary text-white">{{ data.checklist_status }}</span>
                                        {% elif data.checklist_status == 'Belum Dikerjakan' %}
                                        <span class="badge rounded-pill badge-notification bg-gradient-dark text-white">{{ data.checklist_status }}</span>
                                        {% else %}
                                        <span class="badge rounded-pill badge-notification bg-warning text-dark">{{ data.checklist_status }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="form-control-label mt-4" for="input-checklist-remark">Catatan</label>
                                        <textarea name="checklist_remark" id="input-checklist-remark" class="form-control-sm" rows="4" placeholder="Tulis catatan jika diperlukan ..." {% if data.checklist_status == 'Selesai' %}disabled{% endif %} {% if not btn.edit %}disabled{% endif %}>{% if data.checklist_remark %}{{ data.checklist_remark }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none mb-0 mt-1">
                                        <input type="checkbox" class="cursor-pointer border mt-5" name="checklist_urgent" {% if data.checklist_urgent %}checked{% endif %}/>
                                        <label class="form-control-label mt-5">Butuh Perhatian</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="input-checklist-image">Foto</label>
                                    </div>
                                    <div class="input-group input-group-alternative">
                                        <a {% if data.checklist_attachment %}href="{{ data.checklist_attachment.url }}"{% endif %} target="_blank" class="form-control form-control-sm border">{% if data.checklist_attachment %}{{ data.checklist_attachment }}{% else %}Tidak ada foto untuk tugas ini{% endif %}</a>
                                        <span class="input-group-text bg-transparent end-0 pe-3 py-2 {% if crud == 'update' %}cursor-pointer{% endif %} text-body z-index-0" data-bs-toggle="modal" {% if crud == 'update' %}data-bs-target="#delete-image"{% endif %}><i class="fas fa-times-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if not request|is_mobile %}
                                    <div class="shadow-none">
                                        <label class="pb-3"></label>
                                    </div>
                                    {% endif %}
                                    <input type="file" name="checklist_attachment" id="input-checklist-attachment" class="form-control form-control-sm border border-radius-sm" accept="image/*" {% if data.checklist_status == 'Selesai' %}disabled{% endif %} {% if not btn.edit %}disabled{% endif %}>
                                </div>
                                <div class="modal fade" id="delete-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                            </div>
                                            <div class="modal-body border-bottom-0">
                                                Anda yakin akan menghapus foto ini?
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button role="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Batal</button>
                                                <a href="{% url 'remove-attachment' data.checklist_id %}" role="button" class="btn bg-gradient-primary text-white">Hapus
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if data.checklist_status != 'Selesai' and btn.edit %}
                            <div class="row mt-4">
                                <div class="col-12">
                                    {% if data.checklist_status == 'Belum Dikerjakan' %}
                                    <button type="submit" class="btn bg-gradient-primary mb-0"><i class="fas fa-clock"></i>&nbsp;&nbsp;Mulai Tugas</button>
                                    {% elif data.checklist_status == 'Sedang Dikerjakan' %}
                                    <button type="submit" class="btn bg-gradient-danger mb-0"><i class="fas fa-ban"></i>&nbsp;&nbsp;Tugas Selesai</button>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
